<img id="background_pic" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_cover_top.jpg" alt="背景画像">
<button id ="sign_in"><%= link_to "ログイン", :new_user_session %></button>
<button id ="sign_up"><%= link_to "新規登録", :new_user_registration %></button>