<div id="reservation_confirm">
 <h2>予約内容確認</h2>
  <table>
   <thead>
    <tr>
     <th>開始日</th>
     <th>終了日</th>
     <th>人数</th>
    </tr>
   </thead>

   <tbody>
    <tr>
     <% @reservations.each do |reservation| %>
      <td><%= reservation.startday %></td>
      <td><%= reservation.endday %></td>
      <td><%= reservation.people %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>