<div id="reservation_confirm">
<h2>予約しました</h2>
<table>
  <tr>
  <th>予約した部屋</th>
  <td id><%= @room.name %></td>
  </tr>
  <tr>
  <th>開始</th>
    <td id><%= @reservation.startday %></td>
  </tr>
  <tr>
    <th>終了日</th>
    <td><%= @reservation.endday %></td>
  </tr>
  <tr>
    <th>人数</th>
    <td><%= @reservation.people %></td>
  </tr>
</table>
