<div id ="reservation_index">
<h2>予約済みルーム一覧</h2>
<table>
<thead>
 <tr>
  <th>開始日</th>
  <th>終了日</th>
  <th>予約確定日時</th>
 </tr>
</thead>
 
<tbody>
 <tr>
 <% @reservations.each do |reservation| %>
  <td><%= reservation.startday %></td>
  <td><%= reservation.endday %></td>
  <td><%= reservation.created_at.to_s(:datetime_jp) %></td>
 </tr>
<% end %>
</tbody>
</table>

