#room_new{
    position: absolute;
    top:100px;
}

#room_index{
    position: absolute;
    top:100px;
}

table th {
    background-color: #fbc25b;
    padding: 10px 20px;
  }
  
table td {
    background-color: #f9ecd5;
    padding: 10px 20px;
  }
  
.notice {
    background-color: #ccf;
    padding: 5px;
  }

  #show_room{
    position: absolute;
    top:100px;
  }